@import url(https://fonts.google.com/specimen/Playwrite+HU);
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.foto{
    width: 150px;
    height: 150px;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(133, 116, 116);
    margin: 5%;
    line-height: 1.6;
}

main{
    max-width: 800px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}

header{
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 20px 0px;
    border-radius: 8px 8px 0px 0px;
    background-image: url(./img/HD-wallpaper-icono-de-spotify-fondo-de-pantalla-logo.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;

}ss

header figure img{
    border-radius: 50%;
    border: 5px solid black;
    box-shadow: 0 0 10px;
    
}

header h1{
    font-size: 2em;
    margin-top: 10px;
}

header h2{
    font-size: 1.2em;
    opacity: 0.7;
    
}